@tailwind base;
@tailwind components;
@tailwind utilities;

.nev-margin {
  margin-left: -170px;
}
.background {
}
.hover-pointer:hover {
  cursor: pointer;
}

.content {
  animation-name: content;
  animation-duration: 3s;
}
@keyframes content {
  from {
    display: none;
    transform: translate(-50px, 0px);
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 30%;
  }
  to {
    opacity: 100%;
  }
}

.fade-in {
  animation: fadeIn;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
}
